In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
## In this notebook, Data Science Tools and Ecosystem are summarized.

## In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
## Some of the popular languages that Data Scientists use are:

## Some of the popular languages that Data Scientists use are:

1. PYTHON
2. R
3. SQL

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:

# Some of the commonly used libraries used by Data Scientists include:

 1. NUMPY
 2. PANDAS
 3. MATPLOTLIB

In [ ]:
| Data Science Tools |
|--------------------|
| JUPYTERLAB         |
| RSTUDIO            |
| APACHE SPARK       |

| Data Science Tools |
|--------------------|
| JUPYTERLAB         |
| RSTUDIO            |
| APACHE SPARK       |

In [ ]:
###  Below are a few examples of evaluating arithmetic expressions in Python

###  Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes//60
print(f"{minutes} minutes is converted into {hours} hours")

200 minutes is converted into 3 hours

## OBJECTIVES

* PYTHON
* R
* SQL
* SCALA
* JULIA
* MATLAB

In [ ]:
## AUTHOR
BETRYS

## AUTHOR
BETRYS